<div class="text-center">
    <form [formGroup]="form"
          (ngSubmit)="onSubmit(form.value)">

        <div>
            <input type="text"
                   autofocus
                   autocomplete="on"
                   class="form-control login-control"
                   placeholder="Email"
                   name="email" id="email"
                   formControlName="Email" />
        </div>
        <div class="mb-5">
            <input type="password"
                   autocomplete="on"
                   class="form-control login-control"
                   placeholder="Password"
                   name="password" id="password"
                   formControlName="Password" />
            <button type="submit"
                    class="btn btn-sm btn-outline-secondary mt-2">
                Login
            </button>
        </div>
    </form>
</div>





