<p *ngIf="!_question"><em>Loading...</em></p>

<div *ngIf="_question">
    <div class="card">        
        <div class="card-body">
            <h3 class="card-title">
                <a [routerLink]="['/question-detail', _question.id]"
                   class="card-link">
                    {{_question.title}} ${{_question.offeredPrice}}
                </a>
            </h3>
            
            <h6 class="asked-by">
                Asked by {{_question.user.firstName}} {{_question.user.lastName}}
                {{_question.originDate}}
            </h6>
            <p class="card-text">{{_question.description}}</p>
        </div>
    </div>
</div>
