.card-body {
    background-color: white;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
}

.card-text{
    margin-top:1em;
    font-family:Tahoma;
}

.card{
    margin-bottom:1em;
    margin-top:1em;
}

.card-link{
    color:black;
}

.asked-by{
    font-size:small;
    color:GrayText;

}
.card-title {
    font-family: sans-serif;
    font-weight: 600;
    font-size: large;
}