<p *ngIf="!questionPreview"><em>Loading...</em></p>

<div *ngIf="questionPreview">
    <div class="card">        
        <div class="card-body">
            <h3 class="card-title">
                <a [routerLink]="['/question-detail', questionPreview.question.id]"
                   class="card-link">
                    {{questionPreview.question.title}}
                </a>
                <span class="badge badge-light">
                    ${{questionPreview.question.offeredPrice}}
                </span>
            </h3>

            <h6 class="asked-by">
                Asked by {{questionPreview.asker.email}}
                {{questionPreview.question.originDate}}
            </h6>
            <p class="card-text">{{questionPreview.question.description}}</p>

            <div *ngIf="!questionPreview.isFollowing">
                <button (click)="onFollow()"
                        class="btn btn-light">
                    Follow
                </button>
            </div>
            <div *ngIf="questionPreview.isFollowing">
                <button (click)="onUnfollow()"
                        class="btn btn-light">
                    Following
                </button>
            </div>

            <em>{{questionPreview.answerCount}} answers</em>

            <div *ngIf="questionPreview.answerCount > 0"
                 [innerHTML]="previewAnswerContent">
            </div>
        </div>
    </div>
</div>
