<p *ngIf="!questionView"><em>Loading...</em></p>

<div *ngIf="questionView">
    <div class="card">        
        <div class="card-body">
            <h3 class="card-title">
                <a [routerLink]="['/question-detail', questionView.question.id]"
                   class="card-link">
                    {{questionView.question.title}}
                </a>
                <span class="badge badge-light">
                    ${{questionView.question.offeredPrice}}
                </span>
            </h3>

            <h6 class="asked-by">
                Asked by {{questionView.question.user.name}}
                {{questionView.question.originDate | readableDate}}
            </h6>                      
            <div [innerHTML]="questionDescription"
                 class="card-text">
            </div>

            <div *ngIf="!questionView.isFollowing">
                <button (click)="onFollow()"
                        class="btn btn-light">
                    <i class="fas fa-rss"></i>
                    Follow
                </button>
            </div>
            <div *ngIf="questionView.isFollowing">
                <button (click)="onUnfollow()"
                        class="btn btn-light">
                    Following
                </button>
            </div>

            <em>{{questionView.question.answers.length}} answers</em>

            <div *ngIf="questionView.question.answers.length > 0"
                 [innerHTML]="previewAnswerContent">
            </div>
        </div>
    </div>
</div>
