.card-body {
    background-color: white;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    font-family:Verdana;
}

.card{
    margin-bottom:1em;
    margin-top:1em;
}

.card-link{
    color:black;
}

.card-title {
    font-family: sans-serif;
    font-weight: 600;
    font-size: large;
}