@media (min-width: 768px) {
    .navbar-nav.navbar-left {
        position: absolute;
        left: 16%;
    }

    .navbar-nav.navbar-center {
        position: absolute;
        left: 45%;
        transform: translateX(-45%);
    }

    .navbar-nav.navbar-right {
        position: absolute;
        right: 2%;
    }
}

.navbar {
    background-color: #ffffff;
}

.navbar .navbar-brand {
    color: black;
    font-family:Tahoma;
    font-weight:600;
    font-size:larger;
}

.nav-item {
    color: #000000;
}

.navbar {
    border-bottom: 1px solid #e2e0e0;
}



