.navbar-brand {
    color: black;
    font-family: "Helvetica Neue";
    font-weight: 600;
    font-size: x-large;
}

.nav-item {
    color: black;
}

.navbar {
    border-bottom: 1px solid #e2e0e0;
}







