<div class="offset-md-2 col-md-8">
    <form [formGroup]="form"
          (ngSubmit)="onSubmit(form.value)">
        <div>
            <h4>Title</h4>
            <textarea rows="2"
                      class="form-control"
                      name="title" id="title"
                      formControlName="title">
            </textarea>

            <h4>Details</h4>
            <content-editor [content]="description"
                            (contentChanged)="onDescriptionChanged($event)">
            </content-editor>

            <h4>$ Reward:</h4>
            <input type="number"
                   class="form-control"
                   name="OfferedPrice" id="OfferedPrice"
                   formControlName="offeredPrice" />

        </div>
        <br />
        <button class="btn btn-primary"
                type="submit" [disabled]="!form.valid">
            Post
        </button>
        <button *ngIf ="false"
                class="btn btn-secondary ml-1"
                (click)="onCancel()">
            Cancel
        </button>
    </form>
</div>


