<p *ngIf="!answerDetail"><em>Loading...</em></p>
<div *ngIf="answerDetail" class="answer-card">

    <div *ngIf="!isUpdateAnswerVisible">
        <div class="answer-user" *ngIf="answerDetail.answerer">
            {{answerDetail.answerer.email}}
            <div class="answer-date">Answered on {{answerDetail.answer.originDate}}</div>
        </div>

        <div class="rating" *ngIf="rating[0]">
            <span (click)="rate(5)">☆</span>
            <span (click)="rate(4)">☆</span>
            <span (click)="rate(3)">☆</span>
            <span (click)="rate(2)">☆</span>
            <span (click)="rate(1)">☆</span>
        </div>
        <div class="rating" *ngIf="rating[1]">
            <span (click)="rate(5)">☆</span>
            <span (click)="rate(4)">☆</span>
            <span (click)="rate(3)">☆</span>
            <span (click)="rate(2)">☆</span>
            <span (click)="rate(1)">★</span>
        </div>
        <div class="rating" *ngIf="rating[2]">
            <span (click)="rate(5)">☆</span>
            <span (click)="rate(4)">☆</span>
            <span (click)="rate(3)">☆</span>
            <span (click)="rate(2)">★</span>
            <span (click)="rate(1)">★</span>
        </div>
        <div class="rating" *ngIf="rating[3]">
            <span (click)="rate(5)">☆</span>
            <span (click)="rate(4)">☆</span>
            <span (click)="rate(3)">★</span>
            <span (click)="rate(2)">★</span>
            <span (click)="rate(1)">★</span>
        </div>
        <div class="rating" *ngIf="rating[4]">
            <span (click)="rate(5)">☆</span>
            <span (click)="rate(4)">★</span>
            <span (click)="rate(3)">★</span>
            <span (click)="rate(2)">★</span>
            <span (click)="rate(1)">★</span>
        </div>
        <div class="rating" *ngIf="rating[5]">
            <span (click)="rate(5)">★</span>
            <span (click)="rate(4)">★</span>
            <span (click)="rate(3)">★</span>
            <span (click)="rate(2)">★</span>
            <span (click)="rate(1)">★</span>
        </div>

        <div [innerHTML]="answerContent"
             [ngClass]="{
             'answer-content': true,
             'deleted-answer': answerDetail.answer.isDeleted}">
        </div>
        <button class="btn btn-default"
                (click)="OnEditClick()">
            Edit
        </button>
        <button class="btn btn-default"
                (click)="OnDeleteClick()">
            <span *ngIf="answerDetail.answer.isDeleted">Undelete</span>
            <span *ngIf="!answerDetail.answer.isDeleted">Delete</span>
        </button>
    </div>

    <div *ngIf="isUpdateAnswerVisible">
        <update-answer [answer]="answerDetail.answer"
                       (answerUpdated)="onAnswerUpdated($event)">
        </update-answer>
    </div>
</div>
