<p *ngIf="!answer"><em>Loading...</em></p>
<div *ngIf="answer" class="answer-card">

    <div *ngIf="!isUpdateAnswerVisible">
        <div class="answer-user" *ngIf="answer.user">
            {{answer.user.firstName}} {{answer.user.lastName}}
            <div class="answer-date">Answered on {{answer.originDate}}</div>
        </div>
        <div class="answer-content">
            {{answer.text}}
        </div>
        <button class="btn btn-default"
                (click)="OnEditClick()">
            Edit
        </button>
        <button class="btn btn-default"
                (click)="OnDeleteClick()">
            Delete
        </button>
    </div>

    <div *ngIf="isUpdateAnswerVisible">
        <update-answer [answer]="answer"
                       (answerUpdated)="onAnswerUpdated($event)">
        </update-answer>
    </div>
</div>
