.answer-card{
    font-family:"Helvetica Neue";
    font-size:large;
}

.answer-user {
    font-weight:600;
    margin-bottom:1em;
}

.answer-content{
    margin-bottom:1em;
}

.answer-date{
    font-weight:400;
    color:#adaaaa;
}