<br />
<div class="offset-md-1 col-md-9">
    <p *ngIf="!question"><em>Loading...</em></p>
    <div *ngIf="question">
        <div class="question-title"
             [routerLink]="['/question-detail', question.id]">
            {{question.title}}
            <span class="badge badge-secondary badge-success">
                ${{question.offeredPrice}}
            </span>
        </div>
        <div [innerHTML]="questionDescription"
                class="question-description">
        </div>
    </div>
    <hr />
    <p *ngIf="!answer"><em>Loading...</em></p>
    <div *ngIf="answer" class="answer-card">
        <div *ngIf="!isUpdateAnswerVisible">
            <div class="answer-user" *ngIf="answer && answer.user">
                {{answer.user.name}}
                <div class="answer-date">Answered {{answer.originDate | readableDate}}</div>
            </div>

            <div [innerHTML]="answerContent"
                 [ngClass]="{
             'answer-content': true,
             'deleted-answer': answer.isDeleted}">
            </div>
            <button class="btn btn-default"
                    (click)="OnEditClick()">
                Edit
            </button>
            <button *ngIf="!answer.isDeleted"
                    class="btn btn-default"
                    (click)="OnDeleteClick()">
                Delete
            </button>
            <button *ngIf="answer.isDeleted"
                    class="btn btn-default"
                    (click)="OnUnDeleteClick()">
                Undelete
            </button>
        </div>

        <div *ngIf="isUpdateAnswerVisible">
            <answer-editor-inline [answerId]="answer.id"
                                  (answerUpdated)="onAnswerUpdated($event)"
                                  (updateCancelled)="onUpdateCancelled()">
            </answer-editor-inline>
        </div>
    </div>
</div>