<div *ngIf="!purchasedAnswerViews">
    <em>Loading your purchased answers ...</em>
</div>
<div *ngIf="purchasedAnswerViews">
    <div class="section-heading">
        Your Purchased Answers
    </div>
    <div *ngFor="let purchasedAnswerView of purchasedAnswerViews">
        <h5>
            {{purchasedAnswerView.question.title}}
        </h5>
        <html-content [htmlString]="removeRedactionMarkers(purchasedAnswerView.purchasedAnswer.htmlContent)"
                      class="answer-content">
        </html-content>
        <hr />
    </div>

</div>
