.answer-card{
    font-family:"Helvetica Neue";
    font-size:large;
}

.answer-user {
    font-weight:600;
    margin-bottom:1em;
}

.answer-content{
    margin-bottom:1em;
}

.deleted-answer {
    opacity: 0.2; /* Real browsers */
    filter: alpha(opacity = 20); /* MSIE */
}

.answer-date{
    font-weight:400;
    color:#adaaaa;
}

.dollar-sign {
    vertical-align: middle;
}

.price-tag {
    font-size: 1.5em;
    vertical-align: middle;
}

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    cursor:pointer;
    color:green;
    font-size:24px;
}

    .rating > span {
        display: inline-block;
        position: relative;
        width: 1.1em;
    }

        .rating > span:hover:before,
        .rating > span:hover ~ span:before {
            content: "\2605";
            position: absolute;
        }

.average-rating{
    float:right;
}

.no-rating {
    float: right;
    color:lightgray;
    font-style:italic;
}
