<p *ngIf="!answerView"><em>Loading...</em></p>
<div *ngIf="answerView" class="answer-card">
    <div *ngIf="!isUpdateAnswerVisible">
        <div class="answer-user" *ngIf="answerView.answer.user">
            {{answerView.answer.user.name}}
            <span *ngIf="!answerView.averageRating"
                  class="no-rating">
                No ratings yet
            </span>
            <span *ngIf="answerView.averageRating"
                  class="average-rating">
                {{answerView.averageRating}} / 5
            </span>

            <div class="answer-date">
                Answered {{answerView.answer.originDate | readableDate}}
                <span class="buy-offer"
                      *ngIf="answerView.answer.price > 0 && !isAuthor">
                    <!--Buy-->
                    <button class="btn btn-success btn-sm"
                            (click)="OnPurchaseClick()">
                        <i class="fas fa-shopping-cart"></i>
                        Buy
                    </button>

                    <!--counter offer-->
                    <button class="btn btn-secondary btn-sm"
                            (click)="OnCounterOfferClick()">
                        <i class="fas fa-hand-holding-usd"></i>
                        Counter offer
                    </button>
                </span>
            </div>
        </div>

        <!--Rating-->
        <div *ngIf="!isAuthor">
            <div class="rating" *ngIf="rating[0]">
                <span (click)="rate(5)">☆</span>
                <span (click)="rate(4)">☆</span>
                <span (click)="rate(3)">☆</span>
                <span (click)="rate(2)">☆</span>
                <span (click)="rate(1)">☆</span>
            </div>
            <div class="rating" *ngIf="rating[1]">
                <span (click)="rate(5)">☆</span>
                <span (click)="rate(4)">☆</span>
                <span (click)="rate(3)">☆</span>
                <span (click)="rate(2)">☆</span>
                <span (click)="rate(1)">★</span>
            </div>
            <div class="rating" *ngIf="rating[2]">
                <span (click)="rate(5)">☆</span>
                <span (click)="rate(4)">☆</span>
                <span (click)="rate(3)">☆</span>
                <span (click)="rate(2)">★</span>
                <span (click)="rate(1)">★</span>
            </div>
            <div class="rating" *ngIf="rating[3]">
                <span (click)="rate(5)">☆</span>
                <span (click)="rate(4)">☆</span>
                <span (click)="rate(3)">★</span>
                <span (click)="rate(2)">★</span>
                <span (click)="rate(1)">★</span>
            </div>
            <div class="rating" *ngIf="rating[4]">
                <span (click)="rate(5)">☆</span>
                <span (click)="rate(4)">★</span>
                <span (click)="rate(3)">★</span>
                <span (click)="rate(2)">★</span>
                <span (click)="rate(1)">★</span>
            </div>
            <div class="rating" *ngIf="rating[5]">
                <span (click)="rate(5)">★</span>
                <span (click)="rate(4)">★</span>
                <span (click)="rate(3)">★</span>
                <span (click)="rate(2)">★</span>
                <span (click)="rate(1)">★</span>
            </div>
        </div>

        <!--Answer Content-->
        <html-content [htmlString]="answerView.answer.redactedHtmlContent"
                      class="answer-content">
        </html-content>

        <!--Edit-->
        <button *ngIf="isAuthor"
                class="btn btn-default btn-sm"
                (click)="OnEditClick()">
            Edit
        </button>

        <!--Delete-->
        <button *ngIf="isAuthor"
                class="btn btn-default btn-sm"
                (click)="OnDeleteClick()">
            <span *ngIf="answerView.answer.isDeleted">Undelete</span>
            <span *ngIf="!answerView.answer.isDeleted">Delete</span>
        </button>
    </div>

    <!--Answer editor-->
    <div *ngIf="isUpdateAnswerVisible">
        <answer-editor-inline [answerId]="answerView.answer.id"
                              (answerUpdated)="onAnswerUpdated($event)"
                              (updateCancelled)="onUpdateCancelled()">
        </answer-editor-inline>
    </div>
</div>
