<div class="text-center">
    <h5>Invitation Request</h5>
    <form [formGroup]="form"
          (ngSubmit)="onSubmit(form.value)">
        <div>
            <input type="text"
                   autofocus
                   autocomplete="on"
                   class="login-control"
                   placeholder="Name"
                   name="name" id="name"
                   formControlName="Name" />
        </div>
        <div>
            <input type="text"
                   autofocus
                   autocomplete="on"
                   class="login-control"
                   placeholder="Email"
                   name="email" id="email"
                   formControlName="Email" />
        </div>

        <div>
            <button type="submit"
                    class="login-control btn btn-light">
                Submit
            </button>
        </div>
    </form>
</div>





