.landing-page{

}

.beta-text{
    font-size:1.5em;
}

.login-control{
    margin:0.5em;
    padding:0.25em;
}

.login-form{
    padding-top:0.5em;
}

.separator-dot{
    font-size:2em;
}

.ask-text {
    margin-top:1em;
    font-size: 2em;
    letter-spacing: 15px;
}

.questions-text {
    font-size: 3em;
    letter-spacing: 15px;
}

.with-text{
    color:lightgray;
    font-size:1em;
    margin-top:1em;
    margin-bottom:1em;
}

.freedom-power-text {
    font-size: 2em;
    letter-spacing: 20px;
}

.and-text {
    color: lightgray;
    font-size: 1em;
    margin-top: 0em;
    margin-bottom: 0em;
}

.eagle-image{
    margin-top:0em;
}

.engraved-text {
    font-size:1.5em;
    font-family: Futura;
    background-color: #666666;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(245,245,245,0.5) 3px 5px 1px;
}