<h1>Welcome to Project Q!</h1>
<h2>A place to ask questions fearlessly.</h2>

<p *ngIf="!questions"><em>Loading...</em></p>

<table class='table' *ngIf="questions">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let question of questions">
            <td>{{ question.title }}</td>
            <td>{{ question.description }}</td>
            <display-answers [questionId]="question.id"></display-answers>
        </tr>
    </tbody>
</table>

