<header>
    <h4>Ask a question</h4>
</header>
<form [formGroup]="form"
      (ngSubmit)="onSubmit(form.value)">
    <div>    
        <textarea rows="1" 
                  class="form-control"
                  name="Title" id="Title" 
                  formControlName="Title"></textarea>
        <label>Details</label>
        <textarea rows="3" 
                  class="form-control"
                  name="Description" id="Description" 
                  formControlName="Description"></textarea>      
    </div>
    <br />
    <button class="btn btn-success"
            type="submit" [disabled]="!form.valid">
        Ask
    </button>
      
</form>