<div class="modal-header">
    <h4 class="modal-title pull-left">{{name}}'s Credentials</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <ul *ngIf="credentials.length">
        <li *ngFor="let credential of credentials">{{credential}}</li>
    </ul>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">{{closeBtnName}}</button>
</div>