<br />
<p *ngIf="!question"><em>Loading...</em></p>

<div *ngIf="question" class="offset-md-2 col-md-8">
    <span class="question-title">{{question.title}}</span>
    <div class="question-description">
        {{question.description}}
    </div>
    <button class="btn btn-default"
            (click)="OnEditQuestionClick()">
        Edit Question
    </button>

    <button class="btn btn-default"
            (click)="OnAnswerClick()">
        Answer
    </button>

    <div *ngIf="isQuestionEditorVisible">
        <question-editor [questionId]="question.id"
                         (questionEdited)="onQuestionEdited($event)">
        </question-editor>
    </div>

    <div *ngIf="isAnswerEditorVisible">
        <answer-editor [questionId]="question.id"
                       (answerAdded)="onAnswerAdded($event)">
        </answer-editor>
    </div>

    <hr />

    <div>
        <div *ngIf="!answers">
            Loading...
        </div>

        <div *ngIf="answers">
            <h4>
                {{answers.length}} Answer
            </h4>
            <div *ngFor="let answer of answers">
                <hr />
                <answer-card [answer]="answer">

                </answer-card>
            </div>
        </div>
    </div>
</div>
