<br />
<div class="offset-md-1 col-md-9">
    <p *ngIf="!question"><em>Loading...</em></p>
    <div *ngIf="question">
        <div *ngIf="!isQuestionEditorVisible">
            <div class="question-title">
                <div *ngIf="question.isDeleted">
                    <del>{{question.title}}</del>
                </div>
                <div *ngIf="!question.isDeleted">
                    {{question.title}}
                </div>
                <span class="badge badge-secondary badge-success">
                    ${{question.offeredPrice}}
                </span>
            </div>

            <div class="question-description">
                {{question.description}}
            </div>
            <button class="btn btn-default"
                    (click)="OnEditQuestionClick()">
                Edit Question
            </button>
            <button class="btn btn-default"
                    (click)="OnAnswerClick()">
                Answer
            </button>
            <button
                    class="btn btn-danger delete-question"
                    (click)="OnDeleteQuestionClick()">
                <span *ngIf="question.isDeleted">Undelete</span>
                <span *ngIf="!question.isDeleted">Delete</span>
            </button>
        </div>

        <div *ngIf="isQuestionEditorVisible">
            <question-editor [question]="question"
                             (questionEdited)="onQuestionEdited($event)">
            </question-editor>
        </div>

        <div *ngIf="isAddAnswerVisible">
            <add-answer [questionId]="question.id"
                        (answerAdded)="onAnswerAdded($event)">
            </add-answer>
        </div>
        <hr />
        <div>
            <div *ngIf="!answerDetails">
                Loading...
            </div>
            <div *ngIf="answerDetails">
                <h4>
                    {{answerDetails.length}} Answer
                </h4>
                <div *ngFor="let answerDetail of answerDetails">
                    <hr />
                    <answer-card [answerDetail]="answerDetail"
                                 (answerDeleted)="onAnswerDeleted($event)">
                    </answer-card>
                </div>
            </div>
        </div>
    </div>
</div>

