.body{
    background-color:white;
}

.question-title {
    font-family: sans-serif;
    font-weight: 600;
    font-size: x-large;
}

.question-description {
    font-family: sans-serif;
    font-weight: 500;
    font-size: large;
    margin-top:1em;
    margin-bottom:1em;
}

.delete-question{
    float:right;
}

.edit-answer-banner{
    padding-left:1em;
    font-size:larger;
    padding-top:1em;
}

.edit-answer-button {
    padding-left: 1em;
    font-size: larger;
    padding-bottom: 1em;
}