<div class="text-center">
    <form [formGroup]="form"
          (ngSubmit)="onSubmit(form.value)">
        <div>
            <input type="text"
                   autofocus
                   autocomplete="on"
                   class="login-control"
                   placeholder="Email"
                   name="email" id="email"
                   formControlName="Email" />
        </div>
        <div>
            <input type="password"
                   autocomplete="on"
                   class="login-control"
                   placeholder="Password"
                   name="password" id="password"
                   formControlName="Password" />
        </div>
        <div>
            <input type="password"
                   autocomplete="off"
                   class="login-control"
                   placeholder="Retype Password"
                   name="confirmPassword" id="confirmPassword"
                   formControlName="ConfirmPassword" />
        </div>
        <div>
            <input type="text"
                   *ngIf = "isEmailSent"
                   autocomplete="off"
                   class="login-control"
                   placeholder="Email Confirmation Code"
                   name="confirmEmailCode" id="confirmEmailCode"
                   formControlName="ConfirmEmailCode" />
        </div>
        
        <div>
            <button type="submit"
                    class="login-control btn btn-light">
                Submit
            </button>
        </div>
    </form>
</div>





