<div class="offset-md-1 col-md-9">
    <form novalidate (ngSubmit)="buy()" [formGroup]="stripeForm" class="element">
        <div class="row">
            <div class="col-md-6">
                <label>Name</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <input type="text" formControlName="name" placeholder="Jane Doe" class="form-control">
            </div>
        </div>
        <div class="row element">
            <div class="col-md-6">
                <label>Card</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div id="card-element" class="field"></div>
            </div>
        </div>

        <div class="element" *ngIf="answer">
            <button type="submit" class="btn btn-primary">
                Pay ${{answer.price}}
            </button>
        </div>

    </form>
</div>


