<div *ngIf="visible" class="arrow_box">
    <div class="notification-content">
        <div *ngIf="!notifications.length">
            <span class="text-muted">No unread notifications.</span>
        </div>
        <div *ngFor="let notification of notifications">
            <p class="pointer-cursor" (click)="onNotificationClick(notification.id)">
                <a href={{notification.link}}>
                    {{notification.eventDescription}}
                </a>
            </p>
            <hr />
        </div>
    </div>
</div>

