<div class="page-content offset-md-1 col-md-9 about-text">
    <div class="heading">
        What problems does Sharedmem.com aim to solve?
    </div>
    <p>
        We often come to the Internet looking for information we need.
        If that information is mostly generic and popular, we can usually find it through simple Google searches.
        However, that’s not always the case.
        <b>Sometimes we have questions that can’t be answered generically</b>,
        because it’s based on a personal context. Such contexts can be hard to be translated into a search phrase.
        Besides, search engines are designed to link your search phrase to the relevant sites;
        and not meant to understand complex questions and find specific answers.
        It’s also possible that those specific answers do not yet exist in web.
        So search engines aren’t always the answer.
    </p>
    <p>
        <b>For such complex, nuanced or personalized questions</b>;
        what we end up doing is looking for sites or forums that specialize in that subject.
        If we are lucky and skillful, we might find such forums and be able to ask our question.
        But that’s not always the case. First, there are plenty of topics that do not have a forum dedicated for them. Either because there are not enough people to sustain such a site or simply because, no one took the initiative to do it yet. Second, the policies and moderation in these sites often create an atmosphere where genuine questions can get downvoted or blocked.
    </p>
    <p>
        Whatever the reason might be, it’s been my personal experience that
        <b>it’s generally hard to get answers to one’s personalized questions from subject matter experts</b>
        within a reasonable amount of time and effort. Sharedmem.com aims to solve this problem.
    </p>
   
    <div class="heading">
        How does Sharedmem.com aim to solve it?
    </div>

    <p>
        First Sharedmem.com will have a different philosophy while it comes to moderation.
        The philosophy is based on the core understanding that
        <b>a.</b> We ask questions when we do not understand something and
        <b>b.</b> Asking a good quality question is hard even for someone who understands the matter.
        <b>Why then should we expect someone with a weak understanding of the subject matter to ask a high-quality question?</b>
        We need a better moderation policy.
    <p>
    <p class="key-point">
        Appropriate Policy: Never penalize a question for being of low quality. Asking question is the very first step to knowledge and hence it should be completely unrestricted.
    </p>
    <p>
        Second, there is a problem of finding good quality answers. Subject matter experts need motivation to spend the time and effort to write a good answer. We can rely on virtual rewards like “upvote”, but it only works for questions that are generic and interests a large group of audience. But a good portion of our questions can be specific to our individual situation. Or it can have a detailed context that doesn’t apply to many people. Answering questions like this is not very rewarding in terms of popularity gain. To solve this problem:
    </p>
    <p class="key-point">
        Tangible Reward for Effort: You will be able to attract good answers by offering payment.
    </p>
    <p>
        There are some complexities for implementing a payment policy as it needs to provide both the question-author and the answer-author the confidence that they won't be cheated.
        From the answer-writer's perspective, they are concerned with the possibility that, once their answer is read, the reader might not simply pay for it even if the answer is very good and useful. One way to solve this is to make the answer visible only after payment is made. But this makes the position of the question-writer vulnerable.
    </p>
    <p>
        What if the answer was not good? How would they know before reading the answer?
    </p>
    <p>
        To solve this deadlock, this we propose a middle ground. It works somewhat like a "movie trailer". When you write answer, there is an option to hide parts of the answer. You can choose any amount of the answer to be hidden. But the idea is to reveal at least so much that the answer looks promising and genuine. The reader can then judge based on the visible part and decide. Once the payment is made, they can read the full answer.
    </p>
        
    <div class="heading">
        Problems are inevitable. Problems are soluble.
    </div>
    <div>
        Sharedmem.com is not a panacea. In fact, the philosophy is realizing that precisely the opposite of it will be true.
        <em>It aims to solve a set of problems but in the process, it will create new ones.</em>
        The differentiating factor will be that, Sharedmem.com will always listen to the users and
        make changes as needed. Sharedmem.com's end goal is not to host questions and answers. It's
        goal is connecting people who needs help with ones who can offer that. It's about helping each other.
        And not merely demonstrating intellectual superiority. There is a difference between answering
        a question like "Can I have some water?" with answers like "Yes" vs actually showing them where
        or even bringing them water. The focus is ultimately whether the person who is asking the question
        really received the help from the answer or not. I strongly believe, this focus on helping and
        not on any intermediaries is what sets Sharedmem.com apart from the rest.
    </div>
</div>
