<div class='container-fluid no-padding'>
    <div *ngIf="isLoggedIn || continueWithoutLogin">
        <div class="row">
            <nav-menu [user]="user"
                      (loggedOut)="onLogout($event)"
                      (wantsToLogin)="onWantsToLogin()">
            </nav-menu>
        </div>

        <div class="row body-content">
            <div class="col-md-12">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
    <div *ngIf="!isLoggedIn && !continueWithoutLogin">
        <div>
            <landing-page (loggedIn)="onLogin($event)"
                          (continuedWithoutLogin)="onContinueWithoutLogin()">
            </landing-page>
        </div>
    </div>
</div>










