<div class="content-editor">
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
            <button type="button" class="btn btn-secondary"><b>B</b></button>
            <button type="button" class="btn btn-secondary"><i>I</i></button>
            <button type="button" class="btn btn-secondary"><u>U</u></button>
        </div>
        <div class="btn-group mr-2" role="group" aria-label="Second group">
            <button type="button" class="btn btn-secondary">link</button>
            <button type="button" class="btn btn-secondary">img</button>
        </div>
    </div>
    <div #el contenteditable="true"
         class="content"
         (input)="content=el.innerHTML">        
    </div>
    <div contenteditable="true">{{content}}</div>
</div>



