<div class="content-editor">
    <div class="btn-toolbar content-toolbar justify-content-between" 
         role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
            <button type="button"
                    (click)="onBold()"
                    class="btn btn-secondary">
                <b>B</b>
            </button>
            <button type="button"
                    (click)="onItalic()"
                    class="btn btn-secondary">
                <i>I</i>
            </button>
            <button type="button"
                    (click)="onUnderline()"
                    class="btn btn-secondary">
                <u>U</u>
            </button>
        </div>
        <div class="input-group">
            <input #x type="text" class="form-control url-input"
                   placeholder="Image URL..."
                   [(ngModel)]="imgURL"
                   aria-label="Input group example"
                   aria-describedby="btnGroupAddon">
            <div class="input-group-append url-input">
                <button (click)="onInsertImage()"
                        class="input-group-text">
                    Insert
                </button>
            </div>
            
        </div>
    </div>
    <div #el contenteditable="true"
         [focus]="emitFocusEvent"
         (blur)="onBlur()"
         class="content"
         [innerHTML]="curContent"
         (input)="newContent=el.innerHTML;onContentChange($event)">
        {{curContent}}
    </div>
</div>


