<div class="landing-page">
    <div class="motto-text center-align">
        Ask any question. No restrictions.
    </div>

    <div class="pb-4 center-align">
        <button class="btn btn-sm btn-light"
                routerLink="/signup">
            Sign up
        </button>
    </div>

    <div class="text-center">
        <login-form></login-form>
        <button *ngIf="false"
                class="btn btn-sm login-control"
                routerLink="/home">
            Continue without signing in
        </button>
    </div>

    <div class="footer">
        <button class="btn btn-sm btn-link" [routerLink]="['/about']">About</button>
        <span class="separator-dot">.</span>
        <button class="btn btn-sm btn-link" [routerLink]="['/terms']">Terms</button>
    </div>
</div>

