.landing-page {
    font-family: "Helvetica Neue";
}

.center-align {
    text-align: center;
}

.company-name {
    font-size: 2em;
    padding-top:1em;
    padding-bottom:1em;
}

.motto-text {
    font-size: 3.5em;
    padding-top:2em;
    padding-bottom:1.25em
}

.login-control{
    margin:0.5em;
    padding:0.25em;
}

.login-form{
    padding-top:0.5em;
}

.separator-dot {
    font-size: 2em;
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
