<div class="landing-page">
    <div class="company-name center-align">
        Shared Mem
    </div>
    <div class="motto-text center-align">
        Ask any question. No restrictions.
    </div>

    <div class="pb-4 center-align">
        <button class="btn btn-sm btn-light"
                routerLink="/signup">
            Sign up
        </button>
    </div>

    <div class="text-center">
        <login-form></login-form>
        <button class="btn btn-sm login-control"
                routerLink="/home">
            Continue without signing in
        </button>
    </div>
</div>

