<div class="offset-md-1 col-md-9">
    <div class="row upper-section">
        <div class="col-md-9 upper-left-section">
            <div class="row">
                <div class="col-md-4">
                    <img src="https://qph.fs.quoracdn.net/main-thumb-254562851-200-gkjcpbysxnlvjjsfibjuswwtditddxpc.jpeg" alt="Mahbub Zaman" height="200" width="200">
                </div>
                <div class="col-md-8">
                    <span class="profile-name"
                          *ngIf="!isNameEditorVisible && currentProfile">
                        {{currentProfile.name}}
                    </span>
                    <button (click)="showNameEditor()"
                            *ngIf="!isNameEditorVisible"
                            class="edit-link btn btn-light">
                        Edit
                    </button>
                    <inline-text-editor *ngIf="isNameEditorVisible && currentProfile"
                                        [content]="currentProfile.name"
                                        (contentChanged)="onNameChange($event)">
                    </inline-text-editor>
                    <button *ngIf="isNameEditorVisible"
                            (click)="updateName()"
                            class="btn btn-sm btn-primary">
                        Save
                    </button>
                    <button *ngIf="isNameEditorVisible"
                            (click)="onCancelNameChange()"
                            class="btn btn-sm btn-secondary ml-1">
                        Cancel
                    </button>

                    <html-content class="profile-introduction"
                                  [htmlString]="currentProfile.introduction"
                                  *ngIf="!isIntroductionEditorVisible && currentProfile">
                    </html-content>
                    <button (click)="showIntroductionEditor()"
                            *ngIf="!isIntroductionEditorVisible"
                            class="edit-link btn btn-light">
                        Edit
                    </button>
                    <content-editor *ngIf="isIntroductionEditorVisible && currentProfile"
                                    [content]="currentProfile.introduction"
                                    (contentChanged)="onIntroductionChanged($event)">
                    </content-editor>

                    <button *ngIf="isIntroductionEditorVisible"
                            (click)="updateIntroduction()"
                            class="btn btn-sm btn-primary">
                        Save
                    </button>
                    <button *ngIf="isIntroductionEditorVisible"
                            (click)="onCancelIntroductionChange()"
                            class="btn btn-sm btn-secondary">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
        <div class="offset-md-1 col-md-2 upper-right-section">
            Credentials

            <button (click)="onOpenCredentialsEditor()"
                    class="btn btn-light btn-link">
                Edit
            </button>
            {{latestEmployment}}
            {{latestEducation}}

        </div>
    </div>

    <div>
        <purchased-answers>
        </purchased-answers>
    </div>
</div>
