<div class="offset-md-1 col-md-9">
    <div class="row upper-section">
        <div class="col-md-9 upper-left-section">
            <div class="row">
                <div class="col-md-4">
                    <img src="https://qph.fs.quoracdn.net/main-thumb-254562851-200-gkjcpbysxnlvjjsfibjuswwtditddxpc.jpeg" alt="Mahbub Zaman" height="200" width="200">
                </div>
                <div class="col-md-8">
                    <span class="profile-name">
                        {{profileOwner.name}}
                    </span>
                    <a href="" class="edit-link">
                            Edit
                        </a> 
                </div>
            </div>
        </div>
        <div class="offset-md-1 col-md-2 upper-right-section">
            Credentials
        </div>
    </div>

</div>
