<div class="offset-md-1 col-md-9">
    <form class="m-4"
          [formGroup]="form"
          (ngSubmit)="onSubmit(form.value)">

        <div class="row">
            <h4>
                Question
            </h4>
        </div>
        <div class="row">
            <textarea rows="2"
                      class="col-md-12 form-control"
                      name="title" id="title"
                      formControlName="title">
            </textarea>
        </div>

        <div class="row pt-5">
            <h5>Context</h5>
        </div>

        <div class="row pt-2">
            <div class="col pl-0">
                <content-editor [content]="description"
                                (contentChanged)="onDescriptionChanged($event)">
                </content-editor>
            </div>
        </div>

        <div class="row pt-3">
            <h5>$ Reward:</h5>
            <input type="number"
                   class="form-control form-inline"
                   name="OfferedPrice" id="OfferedPrice"
                   formControlName="offeredPrice" />
        </div>

        <div class="row pt-2">
            <label class="checkbox-inline">
                <input type="checkbox"
                       name="isAnonymous"
                       id="isAnonymous"
                       formControlName="isAnonymous"
                       value=""> Anonymous
            </label>
        </div>

        <div class="row pt-2">
            <button class="col-md-1 btn btn-primary"
                    type="submit" [disabled]="!form.valid">
                Post
            </button>
            <button *ngIf="false"
                    class="cl-md-1 btn btn-secondary ml-1"
                    (click)="onCancel()">
                Cancel
            </button>
        </div>

    </form>
</div>


