<div class="modal-header">
    <h4 class="modal-title pull-left">{{name}}'s Credentials</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="selfModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div>
    <ng-template #popTemplate>
        <button class="btn list-item list-item-button"
                (click)="onOpenEducation(educationTemplate)">
            <i class="fas fa-graduation-cap"></i>
            <span class="button-label">Education</span>
        </button>
        <button class="btn list-item list-item-button"
                (click)="onOpenEmployment(employmentTemplate)">
            <i class="fas fa-briefcase"></i>
            <span class="button-label">Employment</span>
        </button>
    </ng-template>
    <button class="btn list-item list-item-button"
            [popover]="popTemplate"
            placement="bottom"
            [outsideClick]="true">
        <i class="fas fa-plus"></i>
        <span class="button-label">Add a credential</span>
    </button>
    <div *ngIf="educations">
        <div *ngFor="let education of educations" class="list-item">
            <i class="fas fa-graduation-cap"></i>
            <span class="credential-text">
                {{education.degreeType}} in {{education.concentration}}, {{education.school}}
            </span>
        </div>
    </div>
    <div *ngIf="employments">
        <div *ngFor="let employment of employments" class="list-item">
            <i class="fas fa-briefcase"></i>
            <span class="credential-text">
                {{employment.position}} at {{employment.company}}
            </span>
        </div>
    </div>
</div>

<div class="credential-footer">
    <button type="button" class="btn btn-default" (click)="selfModalRef.hide()">Close</button>
</div>

<ng-template #educationTemplate>
    <div class="modal-header">
        <span class="modal-title pull-left">Add education credential</span>
        <button type="button" class="close pull-right" aria-label="Close" (click)="educationModal.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="form"
              (ngSubmit)="onSubmit(form.value)">
            <div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">School</label>
                    <div class="col-sm-8">
                        <input name="school"
                               id="school"
                               formControlName="school"
                               type="text"
                               class="form-control"
                               placeholder="North Carolina State University">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Concentration</label>
                    <div class="col-sm-8">
                        <input name="concentration"
                               id="concentration"
                               formControlName="concentration"
                               type="text"
                               class="form-control"
                               placeholder="Computer Science">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Secondary Concentration</label>
                    <div class="col-sm-8">
                        <input name="secondaryConcentration"
                               id="secondaryConcentration"
                               formControlName="secondaryConcentration"
                               type="text"
                               class="form-control"
                               placeholder="">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Degree Type</label>
                    <div class="col-sm-8">
                        <input name="degreeType"
                               id="degreeType"
                               formControlName="degreeType"
                               type="text"
                               class="form-control"
                               placeholder="MS">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Graduation Year</label>
                    <div class="col-sm-8">
                        <input name="graduationYear"
                               id="graduationYear"
                               formControlName="graduationYear"
                               type="text"
                               class="form-control"
                               placeholder="2006">
                    </div>
                </div>
            </div>
            <button type="submit"
                    [disabled]="!form.valid"
                    class="btn btn-primary">
                Save
            </button>
        </form>
    </div>

    <div class="credential-footer">
        <button type="button" class="btn btn-default" (click)="educationModal.hide()">Close</button>
    </div>
</ng-template>

<ng-template #employmentTemplate>
    <div class="modal-header">
        <span class="modal-title pull-left">Add employment credential</span>
        <button type="button" class="close pull-right" aria-label="Close" (click)="employmentModal.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="employmentForm"
              (ngSubmit)="onEmploymentSubmit(employmentForm.value)">
            <div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Company</label>
                    <div class="col-sm-8">
                        <input name="company"
                               id="company"
                               formControlName="company"
                               type="text"
                               class="form-control"
                               placeholder="SharedMem Inc.">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Position</label>
                    <div class="col-sm-8">
                        <input name="position"
                               id="position"
                               formControlName="position"
                               type="text"
                               class="form-control"
                               placeholder="CEO">
                    </div>
                </div>
            </div>
            <button type="submit"
                    [disabled]="!employmentForm.valid"
                    class="btn btn-primary">
                Save
            </button>
        </form>
    </div>

    <div class="credential-footer">
        <button type="button" class="btn btn-default" (click)="employmentModal.hide()">Close</button>
    </div>
</ng-template>