.list-item {
    border-bottom: 1px solid #e5e5e5;
    padding:1em;
}

.credential-text{
    margin-left:1em;
}

.credential-footer{
    padding:1em;
    float:right;
}

.list-item-button{
    width:100%;
    background-color:white;
    text-align:left;
    color:dodgerblue;
}

.list-item-button:hover{
    background-color:lightgray;
}

.button-label{
    padding-left:1em;
}

.gray{
    background-color:lightgray;
}