<div class="page-content offset-md-1 col-md-9 terms-text">
    <div class="heading">
        Sharedmem.com is currently in beta.
    </div>
    <p>
       Use of this sofware is completely without any warranty or service agreements.
       Sharedmem.com assumes no responsiblities for any of its content or user interaction
       through this site.
    </p>
    <p>
        There is no guarntee of any kind that user's content or data will be saved
        reliably or even posted accurately.
    </p>

    <div>
        User assumes complete responsibilities of the consequences of using this site.
    </div>
</div>
